@import "./css_modules/grid.scss"; 
// @import "./css_modules/table.scss"; 
// @import "./css_modules/chart.scss"; 

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

body{
  margin:0;
  padding:0;
}

.App{
  padding: 0px;
  margin: 0;
  display: grid;
  grid-template-rows: 85px 1fr;
  grid-template-areas: 
  "Navbar" 
  "content";
}

.navbar{
  grid-area: Navbar;
}

.boxes{
  display: grid;
  grid-template-columns:1fr 1fr;
  padding: 10px;
  grid-area: content;
}

@media(max-width:1000px){
  .boxes{
    grid-template-columns:1fr;
  }

  .App{

    grid-template-rows: 150px 1fr;

  }
}

