* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgb(246, 246, 246) white;

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: white;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(246, 246, 246);
  }
}

html,
body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

.clickable > * {
  pointer-events: none;
}
