@import "./global.scss"; 

/* CSS Variables */
:root {
    --primary:rgba(255, 255, 255, 0.8);
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 3px rgba(104, 104, 104, 0.8);
  }
  
  html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
  }
  
//   body {
//     background: rgba(1, 51, 102, 0.6);
//     // margin: 30px 50px;
//     line-height: 1.4;
//   }

.box {
  background: var(--primary);
  text-align: center;
  // padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}
  
  .btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
  }
  
  img {
    max-width: 100%;
  }

 /* Boxes */
  .boxes {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* Media Queries */
@media (max-width: 1000px) {
  .boxes {
    display: inline;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}