// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

@import "./global.scss"; 

.header {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: rgba(0, 64, 101, 0.6);
  color: white;
  text-align: left;
  padding: 5px;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.8);
}

.box {
  display: grid;
  background: var(--primary);
  text-align: center;
  // padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

@media(max-width:1000px){

  .box {
    margin: auto;
    background: var(--primary);
    text-align: center;
    // padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
  }

}
