.RadioButtons {
  .MuiFormGroup-root {
    flex-direction: row;
  }

  .MuiSvgIcon-root {
    max-width: 0.8rem;
    max-height: 0.8rem;
  }

  .MuiRadio-colorSecondary.Mui-checked {
    color: #004064;
  }

  .XEifR .MuiRadio-colorSecondary.Mui-checked {
    color: #004064;
  }

}
