$theme-colors: (
  success: rgb(0, 64, 100),
);
@import "~bootstrap/scss/bootstrap";
html {
  background-color: #f8f8f8;
}

.form-control {
  width: 10rem;
}
* {
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  input[type="date"] {
    -webkit-appearance: none;
  }
}

.clickable {
  pointer-events: none;
}
